.dash{
    width: 100%;
  }
  
  .content {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      justify-content: center;
      text-align: center;

      h1{
        font-size: 4rem;
        // height: 100vh;
        //text-align: center;
      }
    }