
.containerVerify {
    background-color: #fff;
    max-width: 400px;
    min-height: 350px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    margin-bottom: 1.5rem;
    color: #333;
    font: 600 3rem "Roboto";
    text-align: center;
  }
  
  .email-label,
  .code-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .email-input,
  .code-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .verify-button {
    background-color: rgb(100, 7, 64);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .verify-button:hover {
    background-color: #555;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    text-align: center;
  }
  
  
