/* styles/footer.scss */

.footer-container {
   // background-color: #333;
   background-color: rgb(77, 25, 77);
    color: white;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  
    .footer-section {
      flex: 1;
      margin-right: 20px;
  
      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 16px;
        margin: 5px 0;
  
        a {
          color: white;
          text-decoration: none;
  
          &:hover {
            color: #ddd;
          }
        }
      }
    }
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #555;
  
    p {
      font-size: 14px;
    }
  }
  