

$primaryColor: rgb(77, 25, 77);
$secondaryColor: rgb(77, 25, 77);
$borderColor: #ddd;

.project-form-container {
  text-align: center;
  margin: 20px;

  h1 {
    color: $primaryColor;
  }

  .form-wrapper {
    max-width: 1024px;
    margin: 0 auto;

    .form-section {
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .tab{
        display: flex;
        flex-direction: column;
        margin: 20px;
      }

      .form-label {
        margin-right: 10px;
        color: $primaryColor;
      }

      .form-input,
      .form-textarea,
      .form-select {
        flex: 1;
        padding: 8px;
        border: 1px solid $borderColor;
        border-radius: 4px;
        font-size: 14px;
      }

      .form-textarea {
        resize: vertical;
      }

      .form-table {
        width: 100%;
        margin-top: 40px;
        border-collapse: collapse;

        .table-header,
        .table-cell {
          border: 1px solid $borderColor;
          padding: 8px;
        }
      }

      .form-button {
        background-color: $secondaryColor;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin: auto;

        &:hover {
          background-color: darken($secondaryColor, 10%);
        }
      }
    }
  }
}

