
.approved-projects-page {
    padding: 20px;
    text-align: center;
    height: 600px;
  
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    .approved-projects-list {
      list-style-type: none;
      padding: 0;
  
      .project-item {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 15px;
        padding: 15px;
        text-align: left;
  
        p {
          margin: 15px;
          cursor: pointer;
        }
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  