// Sidebar.scss
$primary-color: #392467;
$secondary-color: rgb(107 82 107);

.sidebar {
    position: sticky;
    width: 200px;
    height: 70vh;
    //background: linear-gradient(0deg, $primary-color, $secondary-color);
    background-color: $secondary-color;
    color: #fff;
    transition: width 0.3s ease;
    overflow: hidden;
  
    .toggle-button {
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      padding: 10px;
      font-size: 16px;
      text-align: left;
      width: 100%;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #555;
        }
      }
    }
  
    &.collapsed {
      width: 50px;
  
      .toggle-button {
        text-align: center;
      }
  
      ul {
        display: none;
      }
    }
  
    // Responsive styles
    @media (max-width: 768px) {
      width: 100%;
      &.collapsed {
        width: 100%;
      }
    }
  }
  