

.submission-list-page {
    padding: 20px;
    text-align: center;
    height: auto;
  
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    .filter-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  
      button {
        background-color: #4caf50;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-right: 10px;
  
        &:hover {
          background-color: #45a049;
        }
      }
    }
  
    .submission-list {
      list-style-type: none;
      padding: 0;
  
      .submission-item {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 15px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        @media (max-width: 768px) {
          flex-direction: column;
          text-align: left;
        }
  
        .project-info {
          flex-grow: 1;
          margin-right: 15px;
          @media (max-width: 768px) {
            margin-bottom: 10px;
            margin-right: 0;
          }
        }
  
        button {
          background-color: #4caf50;
          color: white;
          padding: 8px 12px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;
  
          &:hover {
            background-color: #45a049;
          }
        }
      }
    }
  }